processing_level: '{{ processing_level }}'
queue: '{{ queue }}'

# input dataset's name(s)
input_ds:
{% for i in range(input_ds.num_ds) %}
  $INPUT_DATASET_#{{ i + 1 }}:
    name: '{{ input_ds.df.loc[i, "name"] }}'
    path_in: '{{ input_ds.df.loc[i, "path_in"] }}'
    path_data_rel: 'TO_BE_FILLED'
    is_zipped: 'TO_BE_FILLED'
{% endfor %}

# container ds:
container:
  name: '{{ container_name }}'
  path_in: '{{ container_ds }}'