processing_level: '{{ processing_level }}'
queue: '{{ queue }}'

# input dataset's name(s)
input_datasets:
{% for in_ds in input_ds %}
  {{ in_ds['name'] }}:
    origin_url: '{{ in_ds['origin_url'] }}'
    path_in_babs: '{{ in_ds['path_in_babs'] }}'
    unzipped_path_containing_subject_dirs: '{{ in_ds['unzipped_path_containing_subject_dirs'] }}'
    is_zipped: {{ 'false' if not in_ds['is_zipped'] else 'true' }}
{% endfor %}

# container ds:
container:
  name: '{{ container_name }}'
  path_in: '{{ container_ds }}'