processing_level: '{{ processing_level }}'
queue: '{{ queue }}'

# input dataset's name(s)
input_ds:
{{ input_ds_string}}

# container ds:
container:
  name: '{{ container_name }}'
  path_in: '{{ container_ds }}'
