#!/bin/bash
set -e -u -x

subid="$1"
{% if processing_level == 'session' %}
sesid="$2"
{% endif %}
{% for input_ds in input_datasets %}
{% if input_ds['is_zipped'] %}
{{ input_ds['name'].upper() }}_ZIP="${{ loop.index + (2 if processing_level == 'session' else 1) }}"
{% endif %}
{% endfor %}

{% if flag_filterfile %}
# Create a filter file that only allows this session
filterfile="${PWD}/${sesid}_filter.json"
{% raw %}{{% endraw %}
    echo "{"
    echo "'fmap': {'datatype': 'fmap'},"
{% if 'fmriprep' in container_name.lower() %}
    echo "'bold': {'datatype': 'func', 'session': '$sesid', 'suffix': 'bold'},"
{% elif 'qsiprep' in container_name.lower() %}
    echo "'dwi': {'datatype': 'dwi', 'session': '$sesid', 'suffix': 'dwi'},"
{% endif %}
    echo "'sbref': {'datatype': 'func', 'session': '$sesid', 'suffix': 'sbref'},"
    echo "'flair': {'datatype': 'anat', 'session': '$sesid', 'suffix': 'FLAIR'},"
    echo "'t2w': {'datatype': 'anat', 'session': '$sesid', 'suffix': 'T2w'},"
    echo "'t1w': {'datatype': 'anat', 'session': '$sesid', 'suffix': 'T1w'},"
    echo "'roi': {'datatype': 'anat', 'session': '$sesid', 'suffix': 'roi'}"
    echo "}"
{% raw %}}{% endraw %} > "${filterfile}"

# remove ses and get valid json
sed -i "s/'/\"/g" "${filterfile}"
sed -i "s/ses-//g" "${filterfile}"

{% endif %}
{% if cmd_unzip_inputds %}
{{ cmd_unzip_inputds }}
{% endif %}
mkdir -p "${PWD}/.git/tmp/wkdir"
{% if templateflow_home_on_disk %}
mkdir -p {{ templateflow_home_on_disk }}
{% endif %}

mkdir -p "{{ bids_app_output_dir }}"
singularity run \
    -B "${PWD}" \
{% if templateflow_home_on_disk %}
    -B "{{ templateflow_home_on_disk }}":"{{ templateflow_in_container }}" \
    --env "TEMPLATEFLOW_HOME={{ templateflow_in_container }}" \
{% endif %}
{% if flag_fs_license %}
    -B "{{ path_fs_license }}":"{{ PATH_FS_LICENSE_IN_CONTAINER }}" \
{% endif %}
{% for singularity_flag in singularity_flags %}
    {{ singularity_flag }} \
{% endfor %}
    {{ container_path_relToAnalysis }} \
        "${PWD}/{{ singuRun_input_dir }}" \
        "${PWD}/{{ bids_app_output_dir }}" \
        participant \
{% if flag_filterfile %}
        --bids-filter-file "${filterfile}" \
{% endif %}
{% for bids_app_arg in bids_app_args %}
{% if bids_app_arg %}
        {{ bids_app_arg }} \
{% endif %}
{% endfor %}
        --participant-label "${subid}"

{{ cmd_zip }}
rm -rf {{ OUTPUT_MAIN_FOLDERNAME }} .git/tmp/wkdir
{% if flag_filterfile %}
rm "${filterfile}"
{% endif %}