datalad run \
	-i "code/{{ container_name }}_zip.sh" \
{% for input_dataset in input_datasets %}
{% if not input_dataset['is_zipped'] %}
	-i "{{ input_dataset['path'] }}/{% if processing_level == 'session' %}${subid}/${sesid}{% else %}${subid}{% endif %}" \
	-i "{{ input_dataset['path'] }}/*json" \
{% else %}
	-i "${%raw%}{{%endraw%}{{ input_dataset['name'].upper() }}_ZIP{%raw%}}{%endraw%}" \
{% endif %}
{% endfor %}
	-i "containers/.datalad/environments/{{container_name}}/image" \
{% if flag_expand_inputs %}
	--expand inputs \
{% endif %}
	--explicit \
{% for key, value in container.config['zip_foldernames'].items() %}
	-o "${subid}{% if processing_level == 'session' %}_${sesid}{% endif %}_{{ key }}-{{ value }}.zip" \
{% endfor %}
	-m "{{ container_name }} ${subid}{% if processing_level == 'session' %} ${sesid}{% endif %}" \
	"bash ./code/{{ container_name }}_zip.sh ${subid}{% if processing_level == 'session' %}${sesid}{% endif %}{% for dataset in input_datasets %}{% if dataset.is_zipped %} ${ {{ dataset.name }}_ZIP}{%endif%}{%endfor%}"