cd {{ output_main_folder }}
{% set str_sesid = '_${sesid}' if processing_level == 'session' else '' %}
{% set value_temp = '' %}
{% for key, value in dict_zip_foldernames.items() %}
{% set value_temp = value %}
7z a ../"${subid}{{ str_sesid }}_{{ key }}-{{ value }}.zip" "{{ key }}"
{% endfor %}
cd ..